<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="oss.mapper.SystemManegeMapper">
	<select id="twoMenuList" parameterType="Long" resultType="oss.bean.Menu" >
		select c.MENUID,c.MENUPID,c.Menuname,c.URL from ROLEPOWER a,powers b,menu c
where a.roleid=(select roleid from emprole where empid=#{id})
and a.POWERID=b.POWERID and b.MENUID=c.MENUID

	</select>
	<select id="oneMenuList" parameterType="Long" resultType="oss.bean.Menu">
		select * from MENU where MENUID in(select c.MENUPID from ROLEPOWER a,powers b,menu c
where a.roleid=(select roleid from emprole where empid=#{id})
and a.POWERID=b.POWERID and b.MENUID=c.MENUID 
)
	</select>
	
	<select id="allOneMenu"  resultType="oss.bean.Menu" >
		select * from MENU where MENUPID=0

	</select>
	<select id="allTwoMenu"  resultType="oss.bean.Menu" >
		select * from MENU where MENUPID!=0

	</select>
	
</mapper>